$('.form-check').append("<div class='form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-persistent-login js-form-item-persistent-login checkbox'>
 
<label for='edit-persistent-login' class='control-label option'>

<input data-drupal-selector='edit-persistent-login' class='form-checkbox' type='checkbox' id='edit-persistent-login' name='persistent_login' value='1'>
Remember me</label> </div>"); 
