    <div class = "meet-srmb-section">
  <div class = 'about-left-image'>
   <img src="https://srmb.saarthi.net/sites/default/files/about.png" alt="">     
        
</div>
    
 <div class = 'about-right-text'>
     <h2 class="title"><span>Meet SRMB</span></h2>
     <div class = "about-text">
   <p>
   SRMB Srijan Private Limited is an IMS (ISO 9001:2015/ISO 14001: 2015/OHSAS 8001:2007) certified six decades-old Primary Steel Producer (classified by Joint Plant Committee under Ministry of Steel). We manufacture TMT bars, CRS TMT Bars & Structural items with a turnover of more than 1200 crore per annum. The SRMB group has a modern integrated steel plant at Rourkela, Odisha (Bhaskar Steel & Ferro Alloys Private Limited) that manufactures steel semis (billets) from iron ore. SRMB manufactures TMT Bars and structural steel from its captive raw material (billet) in the two state-of-the-art finished steel production units in Durgapur (West Bengal). Our manufacturing units are equipped with all kinds of modern infrastructure, including digital universal testing machine and spectrometer, for quality control and testing purposes.
   SRMB TMT Bars are manufactured in technical collaboration with CRM, Belgium's TEMPCORE Cooling Technology and are the only steel manufacturer in India that has Tempcore License for up to Fe 550 grade and BIS License for up to Fe 600 grade for all available dia. including ductile (D) & S grades. Recently,  the company has also introduced its SR (seismic-resistant) variety of TMT bars, a product suitable for use in earthquake-prone zones. This is the result of SRMB’s motto of “ Leadership through Innovation” innovation by way of adoption of new technologies and in-house research and development.
 </p>
     </div> 
</div>
    </div>
        <div class = 'about-history'>
       
             
                        <h2 class="title"><span class = "headng">Brief History Of The Group</span></h2>  
                        <div class="bottom-line"></div>
                        <div class="title-desc">
 <p><span class = "year">1999 .</span>The company was originally promoted as The Steel Rolling Mills of Bengal Limited.</p>
<p><span class = "year">1999 .</span> Steel Authority of India Ltd. appointed The Steel Rolling Mills of Bengal Limited as their conversion agent.</p>
<p><span class = "year">2000 .</span>Installed First TMT plant in Private sector in India in tie-up with HSE GMBH, Germany.</p>
<p><span class = "year">2001 .</span>The name of the company changed to SRMB Udyog Limited.</p>
<p><span class = "year">2001 .</span>Group started a new Company in the name of SRMB Srijan Private Limited.</p>
<p><span class = "year">2003 .</span>First FE 500+ grade TMT bar launched in the retail sector with marked ‘X’ ribs designed by ‘SRMB’.</p>
<p><span class = "year">2005 .</span> Manufacturing unit installed at Durgapur.</p>
<p><span class = "year">2007 .</span> SRMB Srijan Private Limited become Public Limited Company.</p>
<p><span class = "year">2008 .</span>Added manufacturing unit at Durgapur with capacity by 1.10 Lacs MTPA to produce TMT bars.</p>
<p><span class = "year">2008 .</span>SRMB Srijan Private amalgamated with SRMB Srijan Limited.</p>
<p><span class = "year">2008 .</span>Steel Authority of India Ltd. has appointed SRMB Srijan Ltd. – Durgapur unit as their conversion agent.</p>
<p><span class = "year">2008 .</span>First to establish nationwide retail showroom for TMT Bars with testing Facilities.</p>
<p><span class = "year">2009 .</span>Expansion project with backward integration undertaken at Bankura, WB.</p>
<p><span class = "year">2009 .</span>Launched SRMB SR Earthquake proof TMT bars in India.</p>
<p><span class = "year">2010 .</span>Strategic investment in shares of Bhaskar Steel &amp; Ferro Alloy Ltd Having its plant located at Rourkela, Orissa, by SRMB group &amp; it’s nominees for an assured long term quality supplies of billets as a steptowards backward integration. The said Company is manufacturing sponge iron, billets and power for captive consumption.</p>
<p><span class = "year">2011 .</span>Modernisation and Upgration of Unit 1 at Durgapur.</p>
<p><span class = "year">2012 .</span>Launched construction chemical division.</p>
<p><span class = "year">2013 .</span>Launched GRILL products with the brand name of SRMB REAL EDGE.</p>
<p><span class = "year">2014 .</span>Undertook the hot charging billet plant as backward integration at the existing plant at Durgapur.</p>
<p><span class = "year">2015 .</span>Installed the Facilities for the erection of Angle; channel, flat etc as product diversification.</p>
<p><span class = "year">2016 .</span>SRMB Srijan Limited become a Private Limited Company.</p>
<p><span class = "year">2017 .</span>Implemented Hot Billet Project at Durgapur.</p></div>         </div>
         <div class="clearfix">
</div>

<div class="about-mission">
    <img class ="mission-left-img" src="https://srmb.saarthi.net/sites/default/files/abou1.png" alt="">

     <div class="custom-text"><p></p>
<h2><strong>VISION</strong></h2>
<p>Being a cut above the rest through our emphasis on excellence and</p>
<p>perfection, while maintaining high-quality standards of products at the same time.</p>
<p></p>
<h2><strong>MISSION</strong></h2>
<p>To be the first choice when one thinks of steel and emerge as one of the</p>
<p>top steel and TMT bar manufacturers in the world.</p>
     </div>   
</div>

 <div class = 'about-core'>
<div class="row">
		<div class="row-wrapper clearfix">
		<div class="gsc-column col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	      <div class="column-inner  bg-size-cover  ">
	         <div class="column-content-inner">
	                    <div class="widget gsc-heading  align-center style-1 text-dark ">
             
                    <h2 class="title"><span class = "headng">Core Values</span></h2>  
                        <div class="bottom-line"></div>
         <div class="clearfix"></div>
         	         </div>  
	         	      </div>
	    </div>
	   		<div class="gsc-column col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
	      <div class="column-inner  bg-size-cover  ">
	         <div class="column-content-inner">
	                       <div class="widget gsc-image text-center meri-class">
               <div class="widget-content">
                   
                    <img src="https://srmb.saarthi.net/sites/default/files/service-ico-3.png" alt="">
                                 </div>
            </div>    
         	         </div>  
	         	      </div>
	    </div>
	   		<div class="gsc-column col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
	      <div class="column-inner  bg-size-cover  ">
	         <div class="column-content-inner">
	                       <div class="widget gsc-image text-center meri-class">
               <div class="widget-content">
                   
                    <img src="https://srmb.saarthi.net/sites/default/files/service-ico-1.png" alt="">
                                 </div>
            </div>    
         	         </div>  
	         	      </div>
	    </div>
	   		<div class="gsc-column col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
	      <div class="column-inner  bg-size-cover  ">
	         <div class="column-content-inner">
	                       <div class="widget gsc-image text-center meri-class">
               <div class="widget-content">
                   
                    <img src="https://srmb.saarthi.net/sites/default/files/service-ico-2.png" alt="">
                                 </div>
            </div>    
         	         </div>  
	         	      </div>
	    </div>
	   							</div>
	     	 			</div>
    				</div>
        

