<div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div>
<div class="text-left" style="margin-top:-26px"><a href="#">Privacy Policy</a>| <a href="#">Term of use</a>
<div class="text-right">
© Copyright <a href="#">SRMB STEEL</a> {{ abc }}. All Rights Reserved. 
</div>
<div class = 'social'>
<a href="#" class="facebook"></a>
<a href="#" class="fa-twitter"></a>
<a href="#" class="linkedin"></a>
<a href="#" class="youtube"></a>
</div>
</div>
</div>
 </div>     
    </div>